@import 'bulma/css/bulma.css';
@import "loader";
@import "navBar";

.wrap-word {
  max-width: 25em;
  text-align: justify;

  .word{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
