.navbar-brand{
  .logo{
    margin: auto;
    max-width: 10em;
  }
}

.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}
